numpy 
scipy 
ipywidgets
bokeh
pandas 
xarray 
geopandas 
matplotlib 
glob2 
pytesseract 
pyparsing 
camelot-py 
PyMuPDF
pypdf 
lxml 
python-docx 
networkx 
scikit-learn 
seaborn 
ipyleaflet 
fpdf 
reportbro-fpdf 
reportlab 
jupyter_scheduler 
bandit 
psycopg2-binary 
pyodbc 
confluent-kafka 
confluent-kafka[avro] 
pymongo 
sqlalchemy
redis 
wordcloud
dash
dash-bootstrap-components 
dash-ag-grid 
ipyvolume 
bqplot
ipympl 
folium
gradio
streamlit
streamlit-extras
fastapi[all]
dash-leaflet
voila
plotly
pydeck
jupyter-collaboration
aiobotocore
boto3
pyasn1
pysmb
pyspnego
s3transfer
smbprotocol
smbprotocol[kerberos]
gssapi